@font-face {
    font-family: "Carton-Slab";
    scr: url("../fonts/Carton-Slab.woff") format("woff"),
    url("../fonts/Carton-Slab.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "fontawesome-webfont";
    scr: url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MYRIADPRO-BOLD";
    scr: url("../fonts/MYRIADPRO-BOLD.woff") format("woff"),
    url("../fonts/MYRIADPRO-BOLD.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-Light";
    scr: url("../fonts/MyriadPro-Light.woff") format("woff"),
    url("../fonts/MyriadPro-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "MYRIADPRO-REGULAR";
    scr: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"),
    url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MYRIADPRO-SEMIBOLD";
    scr: url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff"),
    url("../fonts/MYRIADPRO-SEMIBOLD.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}