section.form 
    .container
        .title
            .title__header.title__header--form Contact us
            .title__text.title__text--form Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. 
        .form__fields
            input.form__input(type="text", placeholder="Name:")
            input.form__input(type="email", placeholder="Email:")
            textarea.form__input(type="text", placeholder="Message:")
        button.button.button--form show more


footer.footer
    .container
         .footer__blocks   
            .footer__icon
                a.footer__social(href="https://twitter.com", target="_blank", )
                    i.fa.fa-twitter.meet__twitter(aria-hidden="true")
                a.footer__social(href="http://facebook.com", target="_blank",)
                    i.fa.fa-facebook.footer__facebook(aria-hidden="true")
                a.footer__social(href="https://www.pinterest.com", target="_blank", )
                    i.fa.fa-html5.meet_html5(aria-hidden="true")
                a.footer__social(href="https://www.pinterest.com", target="_blank", )
                    i.fa.fa-html5.fa-simplybuilt(aria-hidden="true")
            .footer__text
                span.footer__information Copyrigth &copy; 2013
                span.footer__avtor  Powered By 