header.header
    .header-top
        .logo
            i.fa.fa-heart.logo-icon(aria-hidden="true")
            span.logo-text colorful flat
        include nav.pug
    .container
        .header-bottom
            .header-block
                h1.header-text This Template is Awesome!
                .header-icon.icon-imac      
            .background-switc
                button.header-button
                button.header-button
                button.header-button