section.hero
    .container
        ul.hero__list
            li.hero__items
                .hero__icon.icon-iphone
                h3.hero__header Flat Design
                p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.
            li.hero__items
                .hero__icon.icon-light
                h3.hero__header Great Ideas
                p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.
            li.hero__items
                .hero__icon.icon-browser
                h3.hero__header Browser Compatibility
                p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.
