section.layered
    .container
        ul.layered__list
            li.layered__item
                .icon-works
                .layered-text
                    h3.layered-header Layered Neatly Photoshop Template
                    p.layered-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.
                    button.button.button--green SHOW MORE
            li.layered__item
                .icon-works
                .layered-text
                    h3.layered-header Layered Neatly Photoshop Template
                    p.layered-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.
                    button.button.button--blue SHOW MORE
                    