section.meet
    .container
        .title
            h2.title__header MEET OUR TEAM
            p.title__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. 
        ul.meet__list
            li.meet__item
                .meet__image
                    .icon-face
                .meet__text
                    h3.meet__header jOHN SMITH
                    h4.meet__hero Creative Director
                    p.meet__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est
                    .meet__icon   
                        a.meet__social(href="http://facebook.com", target="_blank",)
                            i.fa.fa-facebook(aria-hidden="true")
                        a.meet__social(href="http://facebook.com", target="_blank", )
                            i.fa.fa-tumblr(aria-hidden="true")
                        a.meet__social(href="http://.com", target="_blank", )
                            i.fa.fa-pinterest(aria-hidden="true")
            li.meet__item
                .meet__image
                    .icon-face
                .meet__text
                    h3.meet__header jOHN SMITH
                    h4.meet__hero Creative Director
                    p.meet__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est
                    .meet__icon  
                        a.meet__social(href="http://facebook.com", target="_blank",)
                            i.fa.fa-facebook(aria-hidden="true")
                        a.meet__social(href="http://facebook.com", target="_blank", )
                            i.fa.fa-tumblr(aria-hidden="true")
                        a.meet__social(href="http://facebook.com", target="_blank", )
                            i.fa.fa-pinterest(aria-hidden="true")
            li.meet__item
                .meet__image
                    .icon-face
                .meet__text
                    h3.meet__header jOHN SMITH
                    h4.meet__hero Creative Director
                    p.meet__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est
                    .meet__icon
                        a.meet__social(href="http://facebook.com", target="_blank",)
                            i.fa.fa-facebook(aria-hidden="true")
                        a.meet__social(href="http://facebook.com", target="_blank", )
                            i.fa.fa-tumblr(aria-hidden="true")
                        a.meet__social(href="http://facebook.com", target="_blank", )
                            i.fa.fa-pinterest(aria-hidden="true")
                