nav.nav
    ul.menu
        li.menu__link
             a.menu__link__item(href="#") Home
        li.menu__link
             a.menu__link__item(href="#") Services 
        li.menu__link 
            a.menu__link__item.menu__link__item--active(href="#") Portfolio  
        li.menu__link  
            a.menu__link__item(href="#") Blog
        li.menu__link  
            a.menu__link__item(href="#") Contact