section.regent 
    .container 
        .title
            h2.title__header RECENT POSTS
            p.title__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. 
        ul.regent__list 
            li.regent__item
                .regent__image
                    .icon-cube
                .regent__text
                    h3.regent__header Really Interesting Post
                    h4.regent__hero October 27
                    p.regent__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. 
            li.regent__item 
                .regent__image
                    .icon-cube
                .regent__text
                    h3.regent__header Really Interesting Post
                    h4.regent__hero October 27                        
                    p.regent__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. 
            li.regent__item
                .regent__image
                    .icon-cube
                .regent__text
                    h3.regent__header Really Interesting Post
                    h4.regent__hero October 27
                    p.regent__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. 
        button.button.button--posts show more