section.works
    .container
        .title
            h2.title__header Recent Works
            p.title__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. 
        nav.works__nav
            ul.menu__works
                li.menu__link__works
                    a.menu__link__item__works.menu__link__item__works--active(href="#") All
                li.menu__link
                    a.menu__link__item__works(href="#") Web 
                li.menu__link 
                    a.menu__link__item__works Mobile  
                li.menu__link  
                    a.menu__link__item__works(href="#") PHOTOGRAPHY
                li.menu__link  
                    a.menu__link__item__works(href="#") design
                li.menu__link  
                    a.menu__link__item__works(href="#") type
        ul.works__list
            li.works__items
            li.works__items
            li.works__items
            li.works__items
            li.works__items
            li.works__items
        button.button.button--works show more


