section.works
    .container
        .title
            h2.title__header Recent Works
            p.title__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. 
        nav.works__nav
            ul.menu__works
                li.menu__works__link
                    a.menu__works__link__item--active(href="#") All
                li.menu__works__link
                    a.menu__works__link__item(href="#") Web 
                li.menu__works__link 
                    a.menu__works__link__item(href="#") Mobile  
                li.menu__works__link  
                    a.menu__works__link__item(href="#") PHOTOGRAPHY
                li.menu__works__link  
                    a.menu__works__link__item(href="#") design
                li.menu__works__link  
                    a.menu__works__link__item(href="#") type
        ul.works__list
            li.works__items
            li.works__items
            li.works__items
            li.works__items
            li.works__items
            li.works__items
        button.button.button--works show more


